each product in content.products
    img(src=`${product.src}` alt=`${product.alt}` data-description=`${product.description}`).showroom
div#modal
    span#modal-closer
    figure
        img(src="" alt="")
        figcaption
            span
            span
            span