extends layout.pug 

block links 
    link(rel="stylesheet" href="styles/main-subpage.css")
    link(rel="stylesheet" href="styles/modal.css")

block main
    main.furniture
        h1 
            span= content.pageHead
        include includes/product-showcase.pug
        footer
            span.copy Özlem Yeşildal Başar &copy; 2022

block scripts 
    script(src="scripts/modal-switch.js") 